<h4 class="page-header">Sepetiniz
  <a *ngIf="cartItems.length > 0" routerLink="/shipping-detail" class="btn btn-xs btn-primary pull-right">
    Alışverişi Tamamla
  <i class="glyphicon glyphicon-arrow-right"></i>
  </a>
</h4>
<!-- Sepette ürün varsa görünür, yoksa cartEmptyContent içeriği açılır. Sayfa altında tanımlandı -->
<!-- if koşuluyla content açılmak istenirse ";than xxxContent" ifadesi kullanılır -->
<table class="table table-responsive" *ngIf="cartItems.length > 0;else cartEmptyContent">
  <thead>
    <tr>
      <th>Ürün Adı</th>
      <th>Açıklama</th>
      <th>Ürün Fiyatı</th>
      <th>Stok Adedi</th>
      <th>Toplam Tutar</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cartItem of cartItems">
      <td>{{cartItem.product.productName}}</td>
      <td>{{cartItem.product.quantityPerUnit}}</td>
      <td>{{cartItem.product.unitPrice|currency:'USD':true}}</td>
      <td>{{cartItem.quantity}}</td>
      <td>{{cartItem.product.unitPrice * cartItem.quantity|currency:'USD':true}}</td>
      <td><button class="btn btn-xs btn-danger" (click)="removeFromCart(cartItem.product)">Sil</button></td>
    </tr>
  </tbody>
</table>

<!-- Content tanımlaması -->
<ng-template #cartEmptyContent>
  <div class="alert alert-info">
    Sepetiniz boş!
  </div>
</ng-template>